h2 How the planet got wired

ul#legend
    li.operational
        b
        div Ready for service
    li.construction
        b
        div Under construction

div#map

p#footnote Paths are schematic—they do not reflect the true geographic path of the cable. Data from <a href="http://www.submarinecablemap.com/">Telegeography's Cable Map.</a>
