h2 Every undersea cable, by year

ul#legend
  li.construction
    b
    div Under construction
  li.operational
    b
    div Operational

div#map

p#footnote Cable paths from Telegeography's Cable Map.
